.jumbotron {
    border-radius: 10px;
    background: -webkit-linear-gradient(to right, #e9fff2, #e9fff5);
    background: linear-gradient(to right, #e9fff2, #e9fff5);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    padding: 20px;
}
.jumbotron ul li {
    margin-right: 15px;
}
.ops-heading::before {
  content: '';
  position: absolute;
  display: block;
  width: 48px;
  height: 2px;
  bottom: -1px;
  left: 0;
  background: #ed1c24;
}
h3.ops-heading {
    position: relative;
    border-bottom: 1px solid #E0E4E9;
    padding-bottom: 24px;
}
.rt-area {
    width: 100%;
    height: 150px;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 4px;
    background-color: #f7f6f7;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.borderright{
    border-right: 1px solid #007bff;
}
.jumbotron hr {
    border-top: 2px solid rgb(153 217 234);
}
.ninjablock{
  margin-top: 40px;
/*  box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
    transform: translate(0, -4px);*/
  padding: 10px;
}